{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <h1>Shop Now!</h1>
    <form action="/" method="post">
        <div class="mb-3">
            <select name="stock" id="stock" class="form-select mx-auto w-25" aria-label="Food Item">
                <option selected>Food Item</option>
                {% for stock in stocks %}
                <option value="{{ stock["product"] }}">{{ stock["product"] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-25" id="quantity" name="quantity" placeholder="Quantity" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Add To Cart</button>
    </form>
    <hr class="mt-5 mb-5">
    
    <h1>Catalogue:</h1>
    <div class="container">
        <div class="row g-4 gy-3 text-center">
        {% for stock in stocks %}
        <div class="col-4">
            <div class="p-3 border bg-light">
            {{ stock["product"] }}
            <p>S${{ stock["price"] }} </p>
            <hr>
            <img class="food" src="{{ stock["image"] }}">
            </div>
        </div>
        {% endfor %}
{% endblock %}
