{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <form action="/" method="post">
        <div class="mb-3">
            <select name="stock" id="stock" class="form-select mx-auto w-25" aria-label="Food Item">
                <option selected>Food Item</option>
                {% for stock in stocks %}
                <option value="{{ stock["product"] }}">{{ stock["product"] }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-25" id="quantity" name="quantity" placeholder="Quantity" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Add To Cart</button>
    </form>
    <hr>

    <div class="container mt-3  ">
        <div class="row g-3 gy-3 text-center">
        <div class="col-4">
            <div class="p-3 border bg-light">
            N.y. Siok Prawn Keropok (pre-fried)
            <hr>
            <img class="food" src="https://media.karousell.com/media/photos/products/2021/10/7/ny_siok_prawn_crackers_1633618551_8b5f885d.jpg">
            </div>
        </div>
        <div class="col-4">
            <div class="p-3 border bg-light">
            KUS Prawn Keropok (ready-to-eat)
            <hr>
            <img class="food" src="https://media.karousell.com/media/photos/products/2021/11/28/kus_prawn_crackers_1638068720_2dad3209.jpg">
            </div>
        </div>
        <div class="col-4">
            <div class="p-3 border bg-light">
            Fishball Crackers
            <hr>
            <img class="food" src="https://cf.shopee.sg/file/d1a0576acad6554e13183e11467c7247">
            </div>
        </div>
        <div class="col-4">
            <div class="p-3 border bg-light">
            Matahari Peanut
            <hr>
            <img class="food" src="https://media.karousell.com/media/photos/products/2021/11/28/matahari_peanuts_1638062096_2e9eef67.jpg">
            </div>
        </div>
        <div class="col-4">
            <div class="p-3 border bg-light">
            Kacang Kapri Tari Bali Garlic Peanuts
            <hr>
            <img class="food" src="https://sg-live-05.slatic.net/p/bccc137c468d16b364b9ac25488b5759.jpg_2200x2200q80.jpg_.webp">
            </div>
        </div>
        <div class="col-4">
            <div class="p-3 border bg-light">
            Emping Belinjo Chilli
            <hr>
            <img class="food" src="https://cf.shopee.sg/file/6d41d8c7bb1cd2d6713e4699c5315b9f">
            </div>
        </div>
        </div>
    </div>

{% endblock %}
